.registrarse_div{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30%;
  margin-bottom: 50px;
}
.registrarse_txt{
  font-size: 25pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.botones{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
ion-button{
  width: 150px;
  height: 40px;
}

.toolbar{
  border-radius: 25px;
}
